<h1>Ingreso de documentos</h1>
<form id="uploadForm" enctype="multipart/form-data">
  <label for="profileImage">Imagen de perfil:</label>
  <input type="file" name="profileImage"><br>
  
  <label for="productImage">Imagen de producto:</label>
  <input type="file" name="productImage"><br>
  
  <label for="document1">Documento 1:</label>
  <input type="file" name="document"><br>
  
  <label for="document2">Documento 2:</label>
  <input type="file" name="document"><br>
  
  <label for="document3">Documento 3:</label>
  <input type="file" name="document"><br>
  
  <button type="button" id="uploadButton">Subir documentos</button>
</form>
<a href="/api/user/premium/{{_id}}">Cambiar rol</a>
<h2>Nota: tiene que subir los documentos con el nombre exacto </h2>
<h3>
  <ul>
    <li>Comprobante de domicilio </li>
    <li>Comprobante de estado de cuenta</li>
    <li>identificacion</li>
  </ul>
</h3>



<script>
document.addEventListener("DOMContentLoaded", function() {
  const uploadForm = document.getElementById("uploadForm");
  const uploadButton = document.getElementById("uploadButton");

  uploadButton.addEventListener("click", async () => {
    const formData = new FormData(uploadForm);
    const response = await fetch(`/api/user/{{_id}}/documents`, {
      method: "POST",
      body: formData,
    });

    if (response.ok) {
     window.location.href = "/api/user/premium/{{_id}}"
    } else {
      console.log(response)
    }
  });
});
</script>