<form id="login" action="/api/session/login4" method="POST">

    <label>email</label><input name="email" type="text">
    <label >password:</label><input name="password" type="text">
    <button>send</button>
</form>
<a href="/api/session/github">Ingresar com github</a>
<a href="/api/session/register"><button>register</button></a>

