<form id="login" action="/api/session/login3" method="POST">

    <label>email</label><input name="email" type="text">
    <label >password:</label><input name="password" type="text">
    <button>send</button>
</form>

<a href="/register"><button>register</button></a>
<a href="/recuperarpass"><button>Me olvide mi contraseña</button></a>

