<form id="login3" action="/session/login3" method="POST">

    <label>email</label><input name="email" type="text">
    <label >password:</label><input name="password" type="text">
    <a href="/products"><button>send</button></a>
</form>
<a href="/session/register"><button>register</button></a>
