<div>
    <form action="/pruebas/mail" method="POST">

        <label for="to">To:</label><input type="text" name="to" id="to">
        <label for="subject">subject:</label><input type="subject" name="subject" id="subject">
        <label for="html">Message:</label><input type="html" name="html" id="html">
        <button>send</button>
    </form>
</div>