

<h1> Felicidades por su compra</h1>

<div>
    <h2>articulos comprados con exito</h2>
    
    <ul>
        {{#each resp.comprados}}
        <li>{{resp.comprados.title}}</li>
        {{/each}}
    </ul>
</div>