<div>
    <form action="/api/session/recuperarpass" method="POST">
        <label for="">ingresa tu mail: </label><input type="text" name="email">
        <button>enviar</button>
    </form>
</div>



